html,body{
overflow-x: hidden;
}

/* add hamberger menu on nav bar when make screen smaller */


.nav-bigBox{

width: 100%;
margin: auto;
display: flex;
position: relative;
color: black;

}


.flashSale {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 10px;
}

.logo {
display: flex;
align-items: center;
  margin: 10px 0px 10px 50px;
  position: relative;


}
.logo h4 {
    margin-top: 10px;
    margin-left: 5px;
}

.logoIcon {
  font-size: 35px;
  margin-top: 10px;
}

/* below section */

.mainBelow {
  width: 100%;

  /* display: flex; */
  /* if we use grid to make 3 templates---
    remove display flex coz we use display grid so no width in small box*/
  /* display: grid; */
  /* grid-template-columns: repeat(3,1fr); */
  /* grid-template-columns: 1fr 2fr 1fr; */
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* flex-grow: 1; if not use flex -grow we use width insted */
  /* width: 33.33%; */
  /* justify-content: space-evenly; */
  /*sjustify content -pace-evely help all small text have gap evenly*/
}
.navLink h3{
    font-size: 20px;
    margin: 0px 10px;
   
}


.searchBox {
  /* flex-grow: 2; */
  /* width: 33.33%; */

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* we need input to target the search box */
.searchBoxSize input {
  width: 400px;
  padding: 10px;
  /* give padding insted of height */
  text-align: center;
  background-color: rgb(246, 238, 238);
  border: 1px solid lightgray;
  border-radius: 20px;
}

.searchBoxSize {
  position: relative;
  /*relative parent coz inside parent*/
}

/* target icon in search box */
.searchIconNav {
  position: absolute; /*wwe move icon which is child so we use absolute*/
  top: 25%;
  left: 5%;
  color: gray;
  font-size: 20px;
}
/* control select tag */
.dropdownSelect {
  padding: 10px;
  border: none;
}

.basket {
  font-size: 25px;
  /* flex-grow: 1; */
  /* width: 33.33%; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;

}
.basket a {
  margin: 0px 15px;
  color: black;
}

.basketMediaQueries{
    font-size: 25px;
    /* flex-grow: 1; */
    /* width: 33.33%; */
  
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
  

}
.basketMediaQueries a {
  margin: 0px 15px;
  color: black;
}

/*ipad*/
@media screen and (max-width: 992px){

  .searchBox {
    right: 50%;
    bottom: -50%;
    transform: translate(-50%,-0%);
  }
  .basket {
display: none;
  
  }

  .basketMediaQueries{  
display: flex;
    right: 20px;
    top: 0;
  
}






}

/*ipad-mini*/
@media screen and (max-width: 768px){


}

/*phone*/
@media screen and (max-width: 600px){


}


